* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


    .input-block {
        margin: 10px 0px;
        .label-box{
            display: block;
            margin-bottom: 10px;
        }

        .input-box{
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 5px;
            background-color: var(--primary-color);
        }
    }
}
