@import '../styles/constants.scss';  

@font-face {
	font-family: 'Afacad'; 
	src: url(../fonts/AfacadFlux-Regular.ttf); 
}

.cv-block{
    font-family: Afacad;
    .personal-information-block{
        padding: 24px;
        background-color: var(--cv-color);
        color: var(--white-color);
        .name{
            text-align: center;
            padding: 20px;
        }
        .info{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .education-block{
        .education-h2{
            text-align: center;
            margin: 50px;
            background-color: var(--primary-color)
        }
        .education-information{
            padding: 0px 50px 20px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }

    .experience-block {
        margin-bottom: 30px;
        .experience-h2{
            text-align: center;
            margin: 30px 50px 50px;
            background-color: var(--primary-color);
           
        }
        .experience-information {
            padding: 0px 50px 20px;
            display: flex;
            gap: 20px;
            max-width: 800px;
            .experience-period {
                min-width: 170px;
            }
          
        }
    }
}