@font-face {
	font-family: 'Afacad'; 
	src: url(../fonts/AfacadFlux-Regular.ttf); 
}

.cv-block{
    font-family: Afacad;
    .personal-information-block{
        padding: 24px;
        background-color: rgb(11, 14, 76);
        color: white;
        .name{
            text-align: center;
            padding: 20px;
        }
        .info{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .education-block{
        .education-h2{
            text-align: center;
            margin: 50px;
            background-color: #f3f4f6;
        }
        .education-information{
            padding: 0px 50px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }

    .experience-block {
        .experience-h2{
            text-align: center;
            margin: 50px;
            background-color: #f3f4f6;
        }
        .experience-information {
            padding: 0px 50px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}