@import '../styles/constants.scss';  

.main {
    .expand-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: start;
        border: none;
        padding: 20px;
        cursor: pointer;
        background-color: var(--white-color);
        font-family: Roboto;
    }
    textarea {
        resize: none;
    }
}