@import '../styles/constants.scss';  

.main {
    .expand-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: start;
        border: none;
        padding: 20px;
        cursor: pointer;
        background-color: var(--white-color);
        font-family: Roboto;
    }
    .form-content{
        .btn-container {
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            .btn-save{
                width: 15%;
                color: white;
                padding: 7px;
                background-color: var(--cv-color);
                cursor: pointer;
                border-radius: 5px;
            }
            .btn-delete{
                width: 15%;
                color: black;
                background-color: var(--primary-color);
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }      
            .btn-delete:hover {
                border: 2px solid black;
            }
        }
        
    }
    textarea {
        resize: none;
    }
}