html {
    background-color: #f3f4f6;
}

.main-block {
    padding: 0px 100px;
    gap: 20px;
    .content-block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        
        background-color: white;
        margin-top: 50px;
        .addition-info-block{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            gap: 20px;
            background-color: #f3f4f6;
        }
        .info-block{
            width: 60%;
        }
    }
}