.main-block {
    .content-block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        // .addition-info-block{
            
        // }
        // .info-block{

        // }
    }
}